* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main section {
    border: 4px solid darkgray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    row-gap: 10px;
    column-gap: 10px;
}
/* - Das funktoniert auch - Frage, ob es immer tut...
img {
    padding:7px;
}*/